@import "mixins";
@import "../bourbon/bourbon";

*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: #d7d0d0;
    
}

#contact{
    z-index: 9999;
    position: fixed;
    bottom: 10px;
    left: 10px;
    height: 75px;
    
    #bubble{
        position: fixed;
        left: 95px;
        height: 50px;
        bottom: 22.5px;
        #bubbleTriangle{
            width: 0; 
            height: 0; 
            border-top: 25px solid transparent;
            border-bottom: 25px solid transparent; 
            border-right:25px solid black; 
            float: left;
        }
        #bubbleText{
            float: left;
            height: 50px;
            padding: 10px;
            background-color: black;
            p{
                line-height: 30px;
                color: white;
                height: 30px;
            }
        }
        #bubbleClose{
            float: left;
            height: 50px;
            width: 50px;
            padding: 10px;
            background-color: black;
            border-left: 1px solid white;
            img{
                height: 30px;
                width: 30px;
                position: relative;
                @include center;
                transition: height 0.2s, width 0.2s;
                
            }
        }
        #bubbleClose:after{
            content: '';
            clear: both;
        }
        
        #bubbleClose:hover{
            img{
                height: 25px;
                width: 25px;
            }
        }
    }
    
    #contactCircle{
        height: 75px;
        width: 75px;
        border-radius: 75px;
        background-color: #ff8d02;
        display: -webkit-box;  
        display: -ms-flexbox;  
        display: -webkit-flex; 
        display: flex;         

        justify-content: center;
        align-items: center;
        
        img{
            height: 36px;
            width: 36px;
            position: relative;
            transition: height 0.2s, width 0.2s;
        }
        
        .visible{
            transform: scale(1);
            @keyframes scaleIn {
            0%{transform: scale(0);}
            80%{transform: scale(1.1);}
            100%{transform: scale(1);}
            }
            animation: scaleIn 0.4s ease-in-out;
        }
        
        .invisible{
            transform: scale(0);
            @keyframes scaleOut {
            0%{transform: scale(1);}
            80%{transform: scale(1.1);}
            100%{transform: scale(0);}
            }
            animation: scaleOut 0.4s ease-in-out;
        }
        
        .disp{
           display: none; 
        }
    }
}

#contact:hover{
    #contactCircle{
        img{
            height: 30px;
            width: 30px;
        }
    }
}

.bubbleFadeIn{
    transform: scale(1);
    @keyframes scaleIn {
    0%{transform: scale(0);}
    80%{transform: scale(1.1);}
    100%{transform: scale(1);}
    }
    animation: scaleIn 0.4s ease-in-out;
}

.bubbleFadeOut{
    transform: scale(0);
    @keyframes scaleOut {
    0%{transform: scale(1);}
    80%{transform: scale(1.1);}
    100%{transform: scale(0);}
    }
    animation: scaleOut 0.4s ease-in-out;
}

.shake{
        @keyframes shake{
        0% { transform: rotate(0deg); }
        35% { transform: rotate(0deg); }
       55% { transform: rotate(35deg); }
       75% { transform: rotate(-35deg); }
      100% { transform: rotate(0deg); }
    }
    animation: shake 1s infinite;
}

.contactPageShow{
    transform: scale(1);
    @keyframes contactPageShow{
        0% { transform: scale(0); border-radius: 0 100% 0 0;}
        80% { transform: scale(1); border-radius: 0 100% 0 0;}
      100% { transform: scale(1); border-radius: 0%;}
    }
    animation: contactPageShow 0.4s linear;
}
.contactPageHide{
    transform: scale(0);
    @keyframes contactPageHide{
        0% { transform: scale(1); border-radius:0;}
        20% { transform: scale(1); border-radius: 0 100% 0 0;}
      100% { transform: scale(0); border-radius: 0 100% 0 0;}
    }
    animation: contactPageHide 0.4s linear;
}

#contactPage{
    height: 100vh;
    width: 100vw;
    padding: 5vh 5vw 5vh 5vw;
    position: fixed;
    background-color: black;
    z-index: 9998;
    left: 0;
    bottom: 0;
    transform-origin: bottom left;
    color: white;
    overflow: hidden;
    #contactPageLeft, #contactPageRight{
        width: 50%;
        height: 100%;
        float: left;
        position: relative;
        transition: opacity 0.6s ease-in;
        h2{
            width: 100%;
            text-align: center;
            font-size: 35px;
            line-height: 40px;
            height: 40px;
            padding: 5px 0 5px 0;
        }
    }
    #contactPageLeft{
        border-right: 1px solid white;
    }
    #contactPageRight:after{
        content: '';
        clear: both;
    }
    #contactPageRight{
        text-align: center;
        .contactPageContainer{
        position: relative;
        @include centerh;    
            p{
                width: 100%;
                font-size: 35px;
            }
            .logo{
                  height: 60px;
                  margin-top: 20px;
            }
        }
    }
    
     .opacityInv{
        opacity: 0;
    }
    
    .opacityVis{
        opacity: 1;
    }
}

#loaderWrap{
    height: 100vh;
    width: 100vw;
    z-index: 999998;
    background-color: white;
    position: relative;
    opacity: 1;
    transition: opacity 1s;
}

.loader {
    color: black;
    z-index: 999999;
    font-family: Consolas, Menlo, Monaco, monospace;
    font-weight: bold;
    position: relative;
    font-size: 30vh;
    @include center();
    text-align: center;
  

  span {
    display: inline-block;
    animation: pulse 0.4s alternate infinite ease-in-out;

  }
  span:nth-child(odd) {
      animation-delay: 0.4s;
  }    
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}


.before{
  transform: scale(0.8);
}

.dotActive{
  background-color: black;
}
.dotInactive{
  background-color: white;
}

#controll{
  position: absolute;
  right: 10px;
  @include centerh;
  z-index: 99;

    .dotContainer{
        height: 32px;
        width: auto;
        
        
        .controllDot{
            border-radius: 100%;
            position: relative;
            opacity: 1;
            margin: 10px;
            width: 12px;
            height: 12px;
            box-shadow: 0px 0px 7px black;
            cursor: pointer;
            position: relative;
            float: right;
            transition: background-color 0.4s;
        }
        .controllDot:hover{
            background-color: gray !important;
        }
        
        p{
            position: relative;
            width: 0px;
            height: 0px;
            font-size: 17px;
            line-height: 32px;
            float: right;
            transition:height 0.4s;
            transition-timing-function: ease-in-out;
            overflow: hidden;
            text-align: right;
            color: white;
            text-shadow: 0px 0px 10px black;


        }
    }
}



.active{

  .right{
      transform: translate(100%);
      transition: transform 0.6s ease-in-out;
  }

  .left{
      transform: translate(0%);
      transition: transform 0.6s ease-in-out;
  }
}

.inactive{
  .right{
      transform: translate(200%);
      transition: transform 0.6s ease-in-out;
  }

  .left{
      transform: translate(-100%);
      transition: transform 0.6s ease-in-out;
  }
}

.holder{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    top:0;
    transition: transform 0.6s ease-in-out;

    .half{
        height: 100%;
        width: 50%;
        position: absolute;
        top:0;
    }

    .textSide{
        background-color:#e8e1e1;
        position: absolute;

        .textHolder{
            width: 100%;
            padding: 0 5% 0 5%;
            text-align: center;
            position: relative;
            @include centerh;

            .logo{
              height: 60px;
              margin-top: 20px;


            }

            h1{
                font-size: 50px;
            }
            p{
                font-size: 28px;
            }
        }
    }

    .imgSide{
        background: #fff;
        position: absolute;
        overflow: hidden;

        img{
            min-width: 100%;
            min-height: 100%;
            position: absolute;
            @include center;
            height: auto;
            width: auto;
            filter: contrast(120%);
            -webkit-filter: contrast(120%);
            -moz-filter: contrast(120%);
            -o-filter: contrast(120%);
            -ms-filter: contrast(120%);
        }
    }

}

#first{
    
    .scroll-downs {
      position: absolute;
      bottom: 20px;
      @include centerw();
      z-index: 2;
      width :37px;
      height: 59px;
    
        .mousey {
          width: 3px;
          padding: 10px 15px;
          height: 35px;
          border: 2px solid #fff;
          border-radius: 25px;
          opacity: 0.75;
          box-sizing: content-box;
        
            .scroller {
              width: 3px;
              height: 10px;
              border-radius: 25%;
              background-color: #fff;
              animation-name: scroll;
              animation-duration: 2.2s;
              animation-timing-function: cubic-bezier(.15,.41,.69,.94);
              animation-iteration-count: infinite;
            }
            
        }
        @keyframes scroll {
          0% { opacity: 0; }
          10% { transform: translateY(0); opacity: 1; }
          100% { transform: translateY(15px); opacity: 0;}
        }
    }


    video{
        position: absolute;
        min-height: 100vh;
        min-width: 100vw;
        height: auto;
        width: auto;
        @include center;
        z-index: 1;
    }

    #firstHolder{
        position: absolute;
        @include center;
        z-index: 2;
        display: flex;
        height: 300px;

        img{
            height: 300px;
            position: relative;
        }

        #firstTxtHolder{
            display: flex;
            position: relative;
            flex-direction: column;
            margin-left: 20px;
            color: white;
            text-shadow: 0px 0px 10px black;
            font-weight: 300;
            text-align: center;
            //height: 300px;
            h1{
                font-size: 70px;
                //max-height: 150px;
            }
            h2{
                font-size: 55px;
                //max-height: 150px;
            }
        }
    }
}

#second{
    z-index: 3;
}

#third{
    z-index: 4;
}

#fourth{
    z-index: 5;
    
      .textHolder {
          margin-top: -30px;
         }  


  #iconsGrid{
       position: relative;
       width: 100%;
       padding-left: 2.5%;
       padding-right: 2.5%;  
       //height: 10px;
       margin-top: -40px;
      
       

      
    .icon{
        float: left;
        position: relative;
        width: 32.3333%;
        margin-top: 30px;
        border: 1px solid #000;
        border-bottom: 0px solid ;
        border-top: 1px;
        border-right: 1px solid #222222;
        border-left: 1px solid #222222;
       
        
        img{
          height: 70px;
          margin-top: 30px;
            
            
        }
        p{
          width: 100%;
          height: 20%;
          font-size: 23px;
          margin-top: 20px;
        }    
       }
      }

}
#fifth{
    z-index: 6;

}
#sixth{
    z-index: 7;
  
    p{
        width: 100%;
        font-size: 28px;
    }
    h2{
        margin-top: 100px;
        font-size: 28px;
    }
        
}
//responsiveness
@media (min-width:1200px) and (max-width:1559px){
    #first{
        #firstHolder{
            img{
                height:235px;
            }
            #firstTxtHolder{
                h1{
                    font-size:50px;
                }
                h2{
                    font-size:42px;
                }
            }
        }
    }
    .holder{
        .textSide{
            .textHolder{
                h1{
                    font-size:45px;
                }
                p{
                    font-size:24px;
                }
            }
        }
    }
    #fourth{
        .textSide{
            .textHolder{
                h1{
                    font-size:40px;
                }
            }
        }
        #iconsGrid{
            .icon{
                img{
                    height:60px;
                }
                p{
                    font-size:14px;
                }
            }
        }
    } 
    #sixth{
        .textSide{
            .textHolder{
                h2{
                    font-size:47px;
                }
                p{
                    font-size:26px;
                }
            }
        }
    }
}
@media (min-width:992px) and (max-width:1199px){
    #first{
        #firstHolder{
            img{
                height:220px;
            }
            #firstTxtHolder{
                h1{
                    font-size:44px;
                }
                h2{
                    font-size:25px;
                }
            }
        }
    }
    .holder{
        .textSide{
            .textHolder{
                h1{
                    font-size:34px;
                }
                p{
                    font-size:25px;
                }
            }
        }
    }
    #fourth{
        .textSide{
            .textHolder{
                h1{
                    font-size:35px;
                }
            }
        }
        #iconsGrid{
            .icon{
                img{
                    height:57px;
                }
                p{
                    font-size:13.5px;
                }
            }
        }
    }
    #sixth{
        .textSide{
            .textHolder{
                h2{
                    font-size:45px;
                }
                p{
                    font-size:24px;
                }
            }
        }
    }
}
@media (max-width:991px){
    #first{
        #firstHolder{
            img{
                height:205px;
            }
            #firstTxtHolder{
                h1{
                    font-size:39px;
                }
                h2{
                    font-size:20px;
                }
            }
        }
    }
    .holder{
        .textSide{
            .textHolder{
                h1{
                    font-size:33px;
                }
                p{
                    font-size:20px;
                }
            }
        }
    }
    #fourth{
        .textSide{
            .textHolder{
                h1{
                    font-size:38px;
                }
            }
        }
        #iconsGrid{
            .icon{
                img{
                    height:52px;
                }
                p{
                    font-size:11.5px;
                }
            }
        }
    }
    #sixth{
        .textSide{
            .textHolder{
                h2{
                    font-size:35px;
                }
                p{
                    font-size:22px;
                }
            }
        }
    }
}
@media (min-width:620px) and (max-width:767px){
    #first{
        #firstHolder{
            img{
                height:190px;
            }
            #firstTxtHolder{
                h1{
                    font-size:32px;
                }
                h2{
                    font-size:23px;
                }
            }
        }
    }
    .holder{
        .textSide{
            .textHolder{
                h1{
                    font-size:31px;
                }
                p{
                    font-size:20px;
                }
            }
        }
    }
    #fourth{
        .textSide{
            .textHolder{
                h1{
                    font-size:28px;
                }
            }
        }
        #iconsGrid{
            .icon{
                img{
                    height:47px;
                }
                p{
                    font-size:9.5px;
                }
            }
        }
    }
    #sixth{
        .textSide{
            .textHolder{
                h2{
                    font-size:33px;
                }
                p{
                    font-size:22px;
                }
            }
        }
    }
}
@media (max-width:619px){
    #first{
        #firstHolder{
            img{
                height:175px;
            }
            #firstTxtHolder{
                @include centerh;
                h1{
                    font-size:30px;
                }
                h2{
                    font-size:22px;
                }
            }
        }
    }
    .holder{
        .textSide{
            .textHolder{
                h1{
                    font-size:27px;
                }
                p{
                    font-size:18px;
                }
            }
        }
    }
    #fourth{
        .textSide{
            .textHolder{
                h1{
                    font-size:35px;
                }
            }
        }
        #iconsGrid{
            .icon{
                img{
                    height:42px;
                }
                p{
                    font-size:12px;
                }
            }
        }
    }
    #sixth{
        .textSide{
            .textHolder{
                h2{
                    font-size:29px;
                }
                p{
                    font-size:20px;
                }
            }
        }
    }
}


//RESPONSIVE BY BENZOLINO

@media (max-width:991px){
    .mobile{
            overflow-y: visible;
        #controll{
            display: none;
        }
        .holder{
            top: auto;
            position: relative;
            overflow: hidden;
            height: 200vh;
            display: flex;
            flex-direction: column-reverse;
            .half{
                width: 100vw;
                height: 100vh;
                float: left;
            }

            .textSide{
                position: relative;
                bottom: 0;
                .textHolder{
                    margin:auto;
                }
            }
            .imgSide{
                position: relative;
            }
            video{
                width: 100vh;
                min-height: 100vh
            }
        }
        .holder:nth-last-of-type(odd){
            flex-direction: column;
        }
        #first{
            height: 100vh; 
            overflow: hidden;
        }
    }
}